.App{
    background-color: #000000;
    color: #ffffff;
    /* height: 100vh; */
}
.netflix{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 35px;
    padding: 20px 50px;
    color: #e50914;
}